spring:
  application:
    name: docpipe
  
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/docpipe}
    username: ${DATABASE_USERNAME:docpipe}
    password: ${DATABASE_PASSWORD:docpipe}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

camel:
  springboot:
    name: docpipe-camel
